<main>
  <div>
      <h3 class="text-center visualisation-title">Visualisations</h3>
  </div> 

  <div class="divs">
      
      </div>

  <div class="divs">
      
      <h2>Data Table</h2>    
      <div id="visualisation1">
        <table border="1">
          <thead>
            <thead>
              <tr>
                <th><a href="#" class="sortable" data-column="key">Timestamp</a></th>
                <th><a href="#" class="sortable" data-column="value.location.name">Location [name]</a></th>
                <th><a href="#" class="sortable" data-column="value.location.lat">Location [pos]</a></th>
                <th><a href="#" class="sortable" data-column="value.data.ph">pH</a></th>
                <th><a href="#" class="sortable" data-column="value.data.Organic_carbon">Organic Carbon</a></th>
                <th><a href="#" class="sortable" data-column="value.data.Turbidity">Turbidity</a></th>
                <th><a href="#" class="sortable" data-column="value.data.Solids">Solids</a></th>
                <th><a href="#" class="sortable" data-column="value.data.Trihalomethanes">Trihalomethanes</a></th>
                <th><a href="#" class="sortable" data-column="value.wqi">WQI</a></th>
              </tr>
            </thead>
            
          </thead>
          <tbody>
            <% receivedData.forEach((data) => { %> 
              <tr>
                <td><%= data.key %></td>
                <td><%= data.value.location.name %></td>
                <td>[<%= data.value.location.lat %>, <%= data.value.location.lon %>]</td>
                <td><%= data.value.data.ph.toFixed(2) %></td>
                <td><%= data.value.data.Organic_carbon.toFixed(2) %></td>
                <td><%= data.value.data.Turbidity.toFixed(2) %></td>
                <td><%= data.value.data.Solids.toFixed(2) %></td>
                <td><%= data.value.data.Trihalomethanes.toFixed(2) %></td>
                <td><%= data.value.wqi.toFixed(2) %></td>
                
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
  </div>

</main>



