<main>
  <div>
      <h3 class="text-center visualisation-title">Visualisations</h3>
  </div> 

  <div class="divs">
    <h4>
      Location filters:
    </h4>

    <% 
    let uniqueLocations = new Set();
    receivedData.forEach(data => {
    if (data.value && data.value.location && data.value.location.name) {
        uniqueLocations.add(data.value.location.name);
    }
    });
    uniqueLocations = Array.from(uniqueLocations);
    %>

    <% uniqueLocations.forEach((locationName) => { %>
        <button type="button"><%= locationName %></button>
    <% }); %>

  </div>

  <div class="divs">
      
      <h2>Data Table</h2>    
      <div id="visualisation1">
        <table border="1">
          <thead>
            <tr>
              <th>Timestamp</th> 
              <th>Location.name</th>
              <th>Location.pos</th>
              <th>pH</th>
              <th>Organic Carbon</th>
              <th>Turbidity</th>
              <th>Solids</th>
              <th>Trihalomethanes</th>
              <th>WQI</th>
            </tr>
          </thead>
          <tbody>
            <% receivedData.forEach((data) => { %> 
              <tr>
                <td><%= data.key %></td>
                <td><%= data.value.location.name %></td>
                <td>[<%= data.value.location.lat %>, <%= data.value.location.lon %>]</td>
                <td><%= data.value.data.ph.toFixed(2) %></td>
                <td><%= data.value.data.Organic_carbon.toFixed(2) %></td>
                <td><%= data.value.data.Turbidity.toFixed(2) %></td>
                <td><%= data.value.data.Solids.toFixed(2) %></td>
                <td><%= data.value.data.Trihalomethanes.toFixed(2) %></td>
                <td><%= data.value.wqi.toFixed(2) %></td>
                
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
  </div>

</main>



